body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gradient-container {
    position: relative;
}

.block {
    width: 700px;
    height: 450px;
    background: linear-gradient(0deg, #000, #262626);
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}

.block::before,
.block::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #ff0000, #ffff00, #00ff00, #0000ff, #fb0092, #ff0000, #ffff00, #00ff00, #0000ff, #fb0092);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 5px;
    background-size: 400%;
    animation: anim 5s linear infinite;
}

.block::after {
    filter: blur(20px);
}

@keyframes anim {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300px 0;
    }
    100% {
        background-position: 600px 0;
    }
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: auto;
}

.btn {
    padding: 20px 30px;
    margin: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background: black;
    color: red;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn-purple {
    filter: hue-rotate(270deg);
    background-color: black;
    color: #00ff00;
}

.btn-blue {
    filter: hue-rotate(80deg);
    background-color: black;
    color: #800081;
}

.btn-green {
    filter: hue-rotate(20deg);
    background-color: black;
    color: #00ffff;
}
